html { 
  background: url(pr_source.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#goToBattle{
	background: red;
	width: 200px;
	height: 30px;
}
/*#globalVars{
	background: black;
opacity: 0.3;
}*/
